<header>
    <nav>
        <a href="/" class="<%= template.includes("home") ? "active" : null %>">home</a>
        <a href="/product" class="<%= template.includes("product") ? "active" : null %>">product</a>

        <% if( !user.isLogged ) { %>
            <a href="/user/signin" class="<%= template.includes("signin") ? "active" : null %>">sign in</a>
        <% } %>

        <% if( user.isLogged ) { %>
            <a href="/user/signout">sign out</a>
        <% } %>
      
    </nav>

    <form action="/product/search" method="POST">
        <input type="search" name="search" id="search" placeholder="Rechercher un produit">
        <button type="submit" class="btn_search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</header>

<% if(user.isLogged) { %>
    <aside>
        <p>Hello <%= user.email %> !</p>
    </aside>
<% } %>