
    <section class="wrapper_card_product">
        <h2>Votre recherche</h2>

        <% if( !search.length ) {%>
            <article>
                <h3>Produit introuvable</h3>
                <img src="/img/sad.jpg" alt="">
            </article>

        <% } %>

        <% if( search.length ) {%>

            <% for(const data of search) {%>
                <a href="/product/<%= data.id %>" class="card_product" >
                    <article>
                        <h3><%= data.label %></h3>
                        <img src="/img/<%= data.url_img %>" alt="" />
                    </article>
                </a>
            <% } %>

        <% } %>        
        
    </section>