<div class="wrapper_form">
    <form action="/user/signup" method="post">
        <input type="email" name="email" placeholder="Votre adresse mail">
        <input type="password" name="password" placeholder="Votre mot de passe">
        <input type="submit" value="Créer le compte">
    </form>
    
</div>